html {
    background-color: #000000;
    color: white;
    font-family: "Calibri Light";
    height: 100%;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

body {
    margin: unset;
    height: 100%;
}

main {
    margin: 1em;
}

#main_title {
    font-size: 6em;
    text-align: center;
}

#sub_title {
    font-size: 1.5em;
    text-align: center;
}

.info_section {
    display: flex;
    width: 100%;
    max-width: 80em;
    margin: auto;
    margin-top: 5em;
}

.info_section img {
    max-width: 30em;
    object-fit: contain;
}

.info_section .description_text {
    margin: 0em 3em;
}

@media (max-width: 1200px) {
    .info_section {
        flex-direction: column;
        max-width: 35em;
    }
}