html {
    background-color: #000000;
    color: white;
    font-family: "Calibri Light";
    height: 100%;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #ffffff;
        color: black;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: x-large;
    }
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    transition: cubic-bezier(0, 0.5, 0, 1) 0.5s;
}

/* Controller is in nav_bar.js */
.header_shade {
    background: rgba(0, 0, 0, 0.85);
}

@media (prefers-color-scheme: light) {
    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header_shade {
        background: rgba(255, 255, 255, 0.85);
    }
}

body {
    margin: unset;
}

main {
    margin: 1em;
}

/* ::-webkit-scrollbar {
    width: 6pt;
}

::-webkit-scrollbar-track {
    background: transparent;
    background: rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-thumb {
    background: #2f3133;
    border-radius: 4pt;
    width: 2pt;
} */

/* --------------------------------------------------- */

#title_section {
    text-align: center;
}

#main_title {
    font-size: 6em;
}

#sub_title {
    font-size: 1.5em;
}

.info_section {
    display: flex;
    width: 100%;
    max-width: 80em;
    margin: auto;
    margin-top: 5em;
}

.info_section img {
    max-width: 30em;
    object-fit: contain;
}

.info_section .description_text {
    margin: 0em 3em;
}

@media screen and (max-width: 1200px) {
    .info_section {
        flex-direction: column;
        max-width: 35em;
    }

    .info_section img {
        margin: 0 -1em;
        max-width: unset;
    }

    .info_section .description_text {
        margin: unset;
    }

    #title_section {
        /* text-align: left; */
        margin: auto;
        max-width: 35em;
    }

    #main_title {
        font-size: 4em;
    }

    #sub_title {
        font-size: 1em;
    }
}
