#splash_joke {
    font-size: 0.7em;
    visibility: visible;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#splash_button {
    all: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    padding: 0.5em 1em;
    font-size: 1.5em;
    visibility: visible;
    transition: cubic-bezier(0, 0.5, 0, 1) 0.5s;
}

#splash_button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: light) {
    #splash_button {
        border: 1px solid black;
    }

    #splash_button:hover {
        background-color: black;
        color: white;
    }
}

@media (max-height: 770px) {
    #splash_button {
        position: static;
        transform: unset;
    }
}

@media (max-height: 550px) {
    #splash_joke {
        position: relative;
        top: 2em;
        bottom: unset;
    }
}
