@font-face {
    font-family: "Trattatello";
    src: url(/assets/fonts/Trattatello.ttf);
}

#page_title {
    font-family: "Trattatello";
    font-size: 2em;
    width: 1.5em;
    text-align: center;
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-self: center;
}

nav a {
    color: rgb(92, 190, 255);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;

    transition: cubic-bezier(0, 0.5, 0, 1) 0.5s;
}

nav a:hover {
    /* background: radial-gradient(ellipse farthest-side, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); */
    color: white;
    cursor: pointer;
}

nav a.active {
    background-color: transparent;
    color: white;
    /* box-shadow: 0 0 7px 0px white; */
    text-shadow: 0px 0px 3px white, 0px 0px 10px white, 0px 0px 18px white;
}

#nav_load_error_message {
    justify-content: center;
    align-items: center;
}

#nav_load_error_message img {
    width: 15em;
}

@media (max-width: 1200px) {
    #nav_load_error_message div > * {
        text-align: center;
    }
}