#content_box {
    margin: 0 auto;
    width: 50%;
}

#main_header {
    background-color: #002145;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 5em;
}

#sub_header {
    background-color: #002145;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.message {
    background-color: #FFA500;
    color: #000000;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

#poster {
    align-content: center;
    width: 100%;
}