#background {
    position: fixed;
    left: 0;
    top: 0;

    filter: blur(60px);

    height: 100%;
    width: 100%;
    z-index: -1;
}

#background::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#mouse_highlight_circle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 50px;
    height: 50px;

    background-color: white;
    border-radius: 50%;

    pointer-events: none;
}

@media (prefers-color-scheme: light) {
    #mouse_highlight_circle {
        background-color: #005aff;
    }
    
    #background::after {
        background-color: rgba(255, 255, 255, 0.5);
    }
}