#background {
    position: fixed;
    left: 0;
    top: 0;

    filter: blur(60px);

    height: 100%;
    width: 100%;
    z-index: -1;
}

#background::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
}

#mouse_highlight_circle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 50px;
    height: 50px;

    background-color: white;
    border: 1px solid white;
    border-radius: 50%;

    pointer-events: none;
}